input {
  position: fixed;
  border: 1px solid;
  border: none;
  overflow: auto;
  outline: none;
  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none; /*remove the resize handle on the bottom right*/
}

#paper {
  width: 100vw;
  height: 100vh;
  cursor: text;
}

}
